.tag-item {
    padding: 4px 8px;
    border-radius: 6px;
    font-size: 14px;
    color: black;
    background-color:white; 
    display: inline-block;
    margin: 4px;
    cursor: default;
    transition: opacity 0.2s ease;
  }
  
  .tag-item span {
    pointer-events: none;
  }
  